<div *ngIf="viewMode; else editable">
    <div *ngIf="currentProduct.id">
        <h4>Product</h4>
        <div>
            <label><strong>Name:</strong></label> {{ currentProduct.name }}
        </div>
        <div>
            <label><strong>Description:</strong></label>
            {{ currentProduct.description }}
        </div>
        <div>
            <label><strong>Price:</strong></label>
            {{ currentProduct.price }}
        </div>

        <a class="badge badge-warning" routerLink="/tutorials/{{ currentProduct.id }}">
            Edit
        </a>
    </div>

    <div *ngIf="!currentProduct">
        <br />
        <p>Please click on a Product...</p>
    </div>
</div>

<ng-template #editable>
    <div *ngIf="currentProduct.id" class="edit-form">
        <h4>Product</h4>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input readonly type="text" class="form-control" id="name" [(ngModel)]="currentProduct.name"
                    name="name" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="currentProduct.description"
                    name="description" />
            </div>

            <div class="form-group">
                <label><strong>Price:</strong></label>
                {{ currentProduct.price }}
            </div>
        </form>

        <button class="badge badge-danger mr-2" (click)="deleteProduct()">
            Delete
        </button>

        <button type="submit" class="badge badge-success mb-2" (click)="updateProduct()">
            Update
        </button>
        <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentProduct.id">
        <br />
        <p>Cannot access this Product...</p>
    </div>
</ng-template>